@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

.hero {
    position: relative;

    .hero-image {
        background: url('https://source.unsplash.com/1600x900/?nature') no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
    }

    .overlay-hero {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    * {
        color: #FFFFFF;
    }
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;

    .container {
        margin: 0 auto;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        height: inherit;
        flex-wrap: inherit;
    }

    a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        height: inherit;
        padding: 0 10px;
    }

    ol {
        display: flex;
        height: inherit;

        li {
            height: inherit;
        }
    }
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.menu {
    height: inherit;
}

.modal-btn {
    text-align: center;
    padding: .6em .8em .8em;
    border: none;
    color: white;
    background: lightgray;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 -.2em rgba(0, 0, 0, .2);
    outline: 0;
    transition: .2s;
    will-change: transform;
}

.modal-btn.primary {
    background: #7dc800;
}

.modal-btn.warning {
    background: #ff463b;
}

.modal-btn:active {
    transform: scale(.9);
}

.overlay {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.overlay.active {
    display: flex;
}

.modal {

    width: 500px;
    background: white;
    padding: 2em;
    border-radius: .5em;
    text-align: center;
    z-index: 2;
    transform: translateY(-3000px);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 500px;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-content {
    display: flex;
}

.modal-content img {
    width: 170px;
    height: 256px;
    object-fit: cover;
    margin-right: 15px;
}

.modal-content p {
    align-self: center;
}

/*@keyframes animationIn {
Animacion a ventana modal
*/
@keyframes modalIn {
    0% {
        transform: translateY(-3000px);
    }

    60% {
        transform: translateY(25px);
    }

    75% {
        transform: translateY(-10px);
    }

    90% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

/*@keyframes animationOut {*/
@keyframes modalOut {
    0% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(-3000px);
    }
}

.primaryPlaylistItem {
    cursor: pointer;
}

.primaryPlaylist {
    margin: 85px 0;
}

.primaryPlaylist-list {
    overflow: auto;
}